.jumbotron {
    margin-top: -3rem;
    padding-top: 7rem;
    background-color: #eaeaea;
    font-family: 'Ubuntu', sans-serif;
}
.about {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.projects {
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
}
.footer {
    margin-top: -2px;
}
